SI/
Debug/
settings/
sourceinsight/
*.dep
*.ewd
*.ewp
*.eww
*.sfr
*.o
*.d
*.crf
*.lst
*.dep
*.uvproj
*.uvopt
*.Administrator
*.sct
*.plg
*.map
*.Scr
*.bak
*.nevin
*.__i
*.lnp
